
[build]
  base = "frontend"
  command = "npm ci && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  VITE_API_URL = "https://tourogram-tdp7.onrender.com"
  VITE_MAPTILER_API_KEY = "NSO8JuqWXOqh8UZs5tpY"
  VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c2V0dGxpbmctZ29waGVyLTUyLmNsZXJrLmFjY291bnRzLmRldiQ"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
